body {
  background-color: #FFC425;
  color: #231F20;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#wrapper {
  max-width: 1200px;
  margin: auto;
  background-color: #FFF;
  box-shadow: 3px 3px 3px #666;
  padding: 10px;
  border-radius: 10px;
}

header {
  background-color: #231F20;
  color: #FFC425;
  text-align: center;
  padding: 20px;
}

nav ul {
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  list-style-type: none;
}

nav li a {
  text-decoration: none;
  color: #231F20;
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

nav li a:hover {
  background-color: #FFC425;
  color: #ffffff;
}

main {
  background-color: #ffffff;
  padding: 20px;
}

.team-section {
  text-align: center;
}

.team-member {
  display: inline-block;
  margin: 0 10px;
}

.team-member img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.team-member img:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.team-member p {
  margin-top: 5px;
  font-weight: bold;
}

.app-overview {
  background-color: #FFF3CD;
  color: #231F20;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  display: block;
  border-left: 4px solid #FFC425;
  border-right: 4px solid #FFC425;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.6;
}

footer {
  text-align: center;
  background-color: #231F20;
  color: #ffffff;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}